@charset "UTF-8";
.myPageHeader{
	width : 100%;
	height : 80px;
	font-size: large;
	font-family: "나눔고딕코딩";
	text-align: center;
}
table { margin: 0 auto;}
#profile{
	height : 80px;
	margin: 0 auto;
	overflow: visible;
	text-align: center;
}

.Change{
	margin:0 auto;
	width : 600px;
	height : 130px;
	border-bottom: 1px solid #D3D3D3;
	padding: 30px 0px ;
	position: relative;
	
}
.font, .fontcontent, tr, td { font-weight: bold; ;}
.font {
	font-size : x-large;
	font-family: "나눔고딕코딩";
}

.font_content {
	font-size : large;
	font-family: "나눔고딕코딩";
}

#img_section {
	border-radius: 20px;
}

.input {
	float: right;
}

#font_height{
	line-height: 3;
	margin-left: 50px;
	font-size: large;
}

#picture{
	border-radius: 20px;
	
}

.button{
	margin: 40px;
}
